.navibar
	.container-fluid
		+nav_header
		+navbar("NZ Chronicles", "dropdown_menu", "inverse", "/")
			+nav_item("/Browse") Browse
			+nav_item("/Upload") Upload
			+nav_item("/Search") Advanced Search
			+nav_item("/loginsignup") Login/Sign Up
